<template>
    <header class="m-0">
        <div class="topbar topbar_temp02 fs-8 text-center">
            <div class="flex justify-between items-center max-w-screen-xl mx-auto">
                <span class="flex gap-9 pl-12">
                    <p class="pl-12">Trang mua hàng nội thất trực tuyến chính hãng</p>
                </span>
                <a href=""><span class="flex gap-2 items-center pe-12">
                        <i class="fa-solid fa-phone"></i>
                        <p class="pe-12">Hotline: 1900.636.099</p>
                    </span></a>
            </div>

        </div>
        <nav class="bg-white p-2">
            <div class="container max-w-screen-xl mx-auto flex justify-between items-center">
                <!-- Logo -->
                <a href="/" class="text-gray-800 text-xl font-bold">
                    Urban Home
                </a>

                <!-- Menu -->
                <ul class="flex space-x-2">
                    <!-- Dropdown 1 -->
                    <li class="relative group">
                        <a href="#" class="text-black group-hover:text-blue-300">Trang chủ</a>
                        <div class="absolute hidden group-hover:block bg-white text-black mt-2 py-2 space-y-2">
                            <a href="#" class="block px-4 py-2">Liên kết 1</a>
                            <a href="#" class="block px-4 py-2">Liên kết 2</a>
                            <a href="#" class="block px-4 py-2">Liên kết 3</a>
                        </div>
                    </li>

                    <!-- Dropdown 2 -->
                    <li class="relative group">
                        <a href="#" class="text-black group-hover:text-blue-300">Sản phẩm</a>
                        <div class="absolute hidden group-hover:block bg-white text-black mt-2 py-2 space-y-2">
                            <a href="#" class="block px-4 py-2">Liên kết 1</a>
                            <a href="#" class="block px-4 py-2">Liên kết 2</a>
                            <a href="#" class="block px-4 py-2">Liên kết 3</a>
                        </div>
                    </li>

                    <!-- Dropdown 3 -->
                    <li class="relative group">
                        <a href="#" class="text-black group-hover:text-blue-300">Product View</a>
                        <div class="absolute hidden group-hover:block bg-white text-black mt-2 py-2 space-y-2">
                            <a href="#" class="block px-4 py-2">Liên kết 1</a>
                            <a href="#" class="block px-4 py-2">Liên kết 2</a>
                            <a href="#" class="block px-4 py-2">Liên kết 3</a>
                        </div>
                    </li>
                </ul>

                <!-- Icons -->
                <div class="flex space-x-2">
                    <a href="#" class="text-gray-800">
                        <i class="fas fa-search"></i>
                    </a>
                    <a href="#" class="text-gray-800">
                        <i class="fas fa-user"></i>
                    </a>
                    <a href="#" class="text-gray-800">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </nav>


    </header>


    <main>
        <slot />
    </main>

    <section class="bg-white py-8 border-t border-gray-300">
        <div class="container max-w-screen-xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <!-- Phần 1 -->
                <div class="flex items-center text-md">
                    <div class="mr-4">
                        <img src="//theme.hstatic.net/1000409762/1000752712/14/policy_icon_1.png?v=10" alt="">
                    </div>
                    <div>
                        <p class="text-blue-800 text-xs">Giao hàng nhanh chóng.</p>
                        <p class="text-gray-600 text-xs">Miễn phí với đơn hàng trên 3 triệu.</p>
                    </div>
                </div>

                <!-- Phần 2 -->
                <div class="flex items-center text-md">
                    <div class="mr-4">
                        <img src="//theme.hstatic.net/1000409762/1000752712/14/policy_icon_2.png?v=10" alt="">
                    </div>
                    <div>
                        <p class="text-blue-800 text-xs">Chính sách bảo hành.</p>
                        <p class="text-gray-600 text-xs">Bảo hành 12 tháng, đổi trả 15 ngày.</p>
                    </div>
                </div>

                <!-- Phần 3 -->
                <div class="flex items-center text-md">
                    <div class="mr-4">
                        <img src="//theme.hstatic.net/1000409762/1000752712/14/policy_icon_3.png?v=10" alt="">
                    </div>
                    <div>
                        <p class="text-blue-800 text-xs">Hỗ trợ 24/7.</p>
                        <p class="text-gray-600 text-xs">Với các kênh chat, email & phone.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-white text-gray-800 py-6 border-t border-gray-300">
        <div class="container max-w-screen-xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <!-- Phần 1: Giới thiệu -->
                <div>
                    <h3 class="text-lg font-semibold">Giới thiệu</h3>
                    <p class="text-xs">Trang mua sắm trực tuyến nội thất mang phong cách việt, giúp bạn cập nhập và nắm bắt
                        xu hướng mới</p>
                    <img src="//theme.hstatic.net/1000409762/1000752712/14/logo_bct.png?v=10" alt="Logo"
                        class="mt-4 w-30 h-12" />
                </div>

                <!-- Phần 2: Liên kết -->
                <div>
                    <h3 class="text-lg font-semibold">Liên kết</h3>
                    <ul class="text-sm list-disc list-inside mt-2">
                        <li>Tìm kiếm</li>
                        <li>Giới thiệu</li>
                        <li>Chính sách đổi trả</li>
                        <li>Chính sách bảo mật</li>
                        <li>Điều khoản dịch vụ</li>
                    </ul>
                </div>

                <!-- Phần 3: Thông tin liên hệ -->
                <div>
                    <h3 class="text-lg font-semibold">Thông tin liên hệ</h3>
                    <div class="flex items-center text-sm mt-2">
                        <i class="fa-solid fa-location-dot mr-2 "></i>
                        Tầng 4, tòa nhà Flemington, số 182, đường Lê Đại Hành, phường 15, quận 11, Tp. Hồ Chí Minh.
                    </div>
                    <div class="flex items-center text-sm mt-2">
                        <i class="fa-solid fa-phone mr-2"></i>
                        1900.636.099
                    </div>
                    <div class="flex items-center text-sm mt-2">
                        <i class="fa-solid fa-envelope mr-2"></i>
                        hi@haravan.com
                    </div>
                </div>

                <!-- Phần 4: Fanpage -->
                <div>
                    <h3 class="text-lg font-semibold">Fanpage</h3>
                    <!-- Đây là nơi bạn có thể nhúng mã HTML hoặc iframe để hiển thị fanpage Facebook -->
                    <!-- Ví dụ: -->
                    <div class="mt-2">
                        <iframe src="https://www.facebook.com/740318896102145?ref=embed_page" width="200" height="100"
                            style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                            allow="encrypted-media"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>

export default {

}
</script>

<style scoped>
body {
    font-family: 'Quicksand', sans-serif;
}

/* Nếu bạn muốn thiết lập font-family cho các phần tử khác như tiêu đề, văn bản, vv. */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}

template {
    font-family: sans-serif;
}

/* Thiết lập kiểu cho hình ảnh nền */
.opacity-30 {
    opacity: 0.3;
}

/* Thiết lập kiểu cho footer */
/* Đảm bảo footer hiển thị phía trên hình ảnh nền */


p {
    margin: 0;
    line-height: 21px;
}

.topbar_temp02 {
    background: #1fb5d4;
    color: #ffffff;
}

.topbar {
    position: relative;
    z-index: 2;
    font-size: 10px;
    padding: 8px 0;
    border-bottom: 1px solid #f0f8ff80;
}

header {
    font-family: 'Quicksand', sans-serif;
}
</style>