<template>
    <!-- Thêm Font Awesome CDN tại đây -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <div>
        <div class="container mx-auto">
            <swiper :options="swiperOptions">
                <!-- Slide 1 -->
                <swiper-slide>
                    <img src="//theme.hstatic.net/1000409762/1000752712/14/slideshow_1.jpg?v=10" alt="Hình ảnh 1" />
                </swiper-slide>

                <!-- Slide 2 -->
                <swiper-slide>
                    <img src="//theme.hstatic.net/1000409762/1000752712/14/slideshow_2.jpg?v=10" alt="Hình ảnh 2" />
                </swiper-slide>

                <!-- Slide 3 -->
                <swiper-slide>
                    <img src="//theme.hstatic.net/1000409762/1000752712/14/slideshow_3.jpg?v=10" alt="Hình ảnh 3" />
                </swiper-slide>
            </swiper>
        </div>

        <div class="justify-center" style="position: relative; top: -70px; z-index: 1;">
            <div class="bg-white container max-w-screen-lg mx-auto py-3 px-3">
                <!-- 3 bức ảnh ở đây -->
                <div class="grid grid-cols-1 md:grid-cols-3 gap-2 border-gray-100">
                    <div>
                        <img src="//theme.hstatic.net/1000409762/1000752712/14/img_banner_home_1.jpg?v=10" alt="Ảnh 1"
                            class="w-full" />
                    </div>
                    <div>
                        <img src="//theme.hstatic.net/1000409762/1000752712/14/img_banner_home_2.jpg?v=10" alt="Ảnh 2"
                            class="w-full" />
                    </div>
                    <div>
                        <img src="//theme.hstatic.net/1000409762/1000752712/14/img_banner_home_3.jpg?v=10" alt="Ảnh 3"
                            class="w-full" />
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mb-7">
            <h2 class="text-lg text-blue-500 font-medium">Sản phẩm mới</h2>
            <h3 class="text-xs text-gray-500">Cập nhật những sản phẩm mới nhất</h3>
        </div>

        <div class="max-w-screen-lg mx-auto mb-4">
            <!-- Dòng 1 -->
            <div class="flex flex-wrap -mx-0 mb-0 ">
                <!-- Sản phẩm 1 -->
                <div class="w-1/5 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden relative">
                        <div>
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 10px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                                alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                        </div>

                        <div class="p-4">
                            <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                            <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                            <span class="text-gray-600 text-xs">
                                <span class="line-through">1,250,000₫</span>
                            </span>

                        </div>
                    </div>
                </div>
                <div class="w-1/5 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden">
                        <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                            alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                        <div class="p-4">
                            <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                            <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                            <span class="text-gray-600 text-xs">
                                <span class="line-through">1,250,000₫</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="w-1/5 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden">
                        <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                            alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                        <div class="p-4">
                            <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                            <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                            <span class="text-gray-600 text-xs">
                                <span class="line-through">1,250,000₫</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="w-1/5 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden">
                        <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                            alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                        <div class="p-4">
                            <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                            <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                            <span class="text-gray-600 text-xs">
                                <span class="line-through">1,250,000₫</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="w-1/5 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden">
                        <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                            alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                        <div class="p-4">
                            <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                            <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                            <span class="text-gray-600 text-xs">
                                <span class="line-through">1,250,000₫</span>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Sản phẩm 2, 3, 4, và 5 -->
                <!-- Tương tự như sản phẩm 1 -->
            </div>
            <!-- Dòng 2 -->
            <div class="flex flex-wrap -mx-0 mb-0 ">
                <!-- Sản phẩm 1 -->
                <div class="w-1/5 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden">
                        <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                            alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                        <div class="p-4">
                            <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                            <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                            <span class="text-gray-600 text-xs">
                                <span class="line-through">1,250,000₫</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="w-1/5 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden">
                        <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                            alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                        <div class="p-4">
                            <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                            <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                            <span class="text-gray-600 text-xs">
                                <span class="line-through">1,250,000₫</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="w-1/5 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden">
                        <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                            alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                        <div class="p-4">
                            <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                            <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                            <span class="text-gray-600 text-xs">
                                <span class="line-through">1,250,000₫</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="w-1/5 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden">
                        <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                            alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                        <div class="p-4">
                            <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                            <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                            <span class="text-gray-600 text-xs">
                                <span class="line-through">1,250,000₫</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="w-1/5 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden">
                        <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                            alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                        <div class="p-4">
                            <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                            <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                            <span class="text-gray-600 text-xs">
                                <span class="line-through">1,250,000₫</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full flex max-w-screen-lg mx-auto">
            <!-- Bức ảnh 1 và 2 nằm chồng lên nhau bên trái -->
            <div class="relative w-1/2">
                <img src="//theme.hstatic.net/1000409762/1000752712/14/img_banner_center_1.jpg?v=10" alt="Ảnh 1"
                    class="w-full h-auto py-3 px-3" />
                <img src="//theme.hstatic.net/1000409762/1000752712/14/img_banner_center_2.jpg?v=10" alt="Ảnh 2"
                    class="w-full h-auto py-3 px-3" />
            </div>
            <!-- Bức ảnh phía bên phải to bằng tổng chiều rộng của 2 bức trái -->
            <div class="w-1/2">
                <img src="//theme.hstatic.net/1000409762/1000752712/14/img_banner_center_3.jpg?v=10" alt="Ảnh 3"
                    class="w-full h-auto py-3 px-3" />
            </div>
        </div>

        <div class="w-full flex max-w-screen-lg mx-auto">
            <!-- Bức ảnh 4 -->
            <div class="w-1/4 relative">
                <img src="//theme.hstatic.net/1000409762/1000752712/14/img_collection_info_1.jpg?v=10" alt="Ảnh 4"
                    class="w-full h-auto py-3 px-3" />

                <!-- Khung màu trắng với title sản phẩm và số lượng sản phẩm -->
                <div class="absolute bottom-6 left-6 w-3/7 p-3 bg-white text-black">
                    <p class="text-xs font-semibold text-blue-500">Trang trí</p>
                    <p class="text-xs">11 sản phẩm</p>
                </div>
            </div>
            <!-- Bức ảnh 5 -->
            <div class="w-1/4 relative">
                <img src="//theme.hstatic.net/1000409762/1000752712/14/img_collection_info_2.jpg?v=10" alt="Ảnh 5"
                    class="w-full h-auto py-3 px-3" />

                <!-- Khung màu trắng với title sản phẩm và số lượng sản phẩm -->
                <div class="absolute bottom-6 left-6 w-3/7 p-3 bg-white text-black">
                    <p class="text-xs font-semibold text-blue-500">Phòng khách</p>
                    <p class="text-xs">11 sản phẩm</p>
                </div>
            </div>
            <!-- Bức ảnh 6 -->
            <div class="w-1/4 relative">
                <img src="//theme.hstatic.net/1000409762/1000752712/14/img_collection_info_3.jpg?v=10" alt="Ảnh 6"
                    class="w-full h-auto py-3 px-3" />

                <!-- Khung màu trắng với title sản phẩm và số lượng sản phẩm -->
                <div class="absolute bottom-6 left-6 w-3/7 p-3 bg-white text-black">
                    <p class="text-xs font-semibold text-blue-500">Ghế phụ</p>
                    <p class="text-xs">11 sản phẩm</p>
                </div>
            </div>
            <!-- Bức ảnh 7 -->
            <div class="w-1/4 relative">
                <img src="//theme.hstatic.net/1000409762/1000752712/14/img_collection_info_4.jpg?v=10" alt="Ảnh 7"
                    class="w-full h-auto py-3 px-3" />

                <!-- Khung màu trắng với title sản phẩm và số lượng sản phẩm -->
                <div class="absolute bottom-6 left-6 w-3/7 p-3 bg-white text-black">
                    <p class="text-xs font-semibold text-blue-500">Phòng làm việc</p>
                    <p class="text-xs">11 sản phẩm</p>
                </div>
            </div>
        </div>

        <div class="text-center mb-7 mt-9">
            <h2 class="text-lg text-blue-500 font-medium">Sản phẩm khuyến mãi</h2>
            <h3 class="text-xs text-gray-500">Ưu đãi lên đến 50%</h3>
        </div>

        <div class="max-w-screen-lg mx-auto mb-4">
            <!-- Dòng 1 -->
            <div class="flex flex-wrap -mx-0 mb-0 ">
                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-1/4 px-0 mb-0 border">
                    <div class="bg-white shadow-md rounded-none overflow-hidden flex">
                        <!-- Hình bên trái -->
                        <div class="w-1/3 relative">
                            <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                                style="font-size: 8px;">
                                -12%
                            </div>
                            <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_small.jpg"
                                alt="Ấm trà inox không ghỉ" class="w-20 h-30 object-cover py-1 px-1" />
                        </div>

                        <!-- Tiêu đề và giá ở bên phải -->
                        <div class="w-2/3 p-4">
                            <p class="text-xs py-1">Ấm trà inox không ghỉ</p>
                            <div class="flex">
                                <span class="text-red-500 text-xs">890,000₫</span>
                                <span class="text-gray-600 text-xs px-2">
                                    <span class="line-through">1,250,000₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="text-center mb-7 mt-9">
            <h2 class="text-lg text-blue-500 font-medium">Tin tức</h2>
            <h3 class="text-xs text-gray-500">Cập nhật tin tức mới nhất!</h3>
        </div>


        <div class="max-w-screen-lg mx-auto flex justify-between">
            <!-- Ảnh 1 -->
            <div class="w-1/3 px-2">
                <img src="//file.hstatic.net/1000409762/article/blog3_59a5ca4c1b3946c69d8fb947eac84d66_large.jpg"
                    alt="Ảnh 1" />
                <p class="text-blue-500 text-xs py-3">MUA SOFA GIƯỜNG MANG CẢ THIÊN ĐƯỜNG ĐẾN NHỮNG CĂN HỘ NHỎ</p>
                <p class="text-xs">1- Sử dụng nội thất thông minh và tận dụng không gian để lưu trữ đồ đạcVới một không
                    gian...
                </p>
                <p class="py-5 text-sm"><a href="duong_dan_den_trang_chi_tiet"
                        class="text-black-500 text-center underline">Xem
                        thêm</a>
                </p>
            </div>

            <!-- Ảnh 2 -->
            <div class="w-1/3 px-2">
                <img src="//file.hstatic.net/1000409762/article/blog02_4c6d27d96ea849c0b7f02599d2aab883_large.jpg"
                    alt="Ảnh 2" />
                <p class="text-blue-500 text-xs py-3">MUA SOFA GIƯỜNG MANG CẢ THIÊN ĐƯỜNG ĐẾN NHỮNG CĂN HỘ NHỎ</p>
                <p class="text-xs">1- Sử dụng nội thất thông minh và tận dụng không gian để lưu trữ đồ đạcVới một không
                    gian...
                </p>
                <p class="py-5 text-sm"><a href="duong_dan_den_trang_chi_tiet"
                        class="text-black-500 text-center underline">Xem
                        thêm</a>
                </p>
            </div>

            <!-- Ảnh 3 -->
            <div class="w-1/3 px-2">
                <img src="//file.hstatic.net/1000409762/article/blog11_66221b59878048f0ba6e64977525b8e9_large.jpg"
                    alt="Ảnh 3" />
                <p class="text-blue-500 text-xs py-3">MUA SOFA GIƯỜNG MANG CẢ THIÊN ĐƯỜNG ĐẾN NHỮNG CĂN HỘ NHỎ</p>
                <p class="text-xs">1- Sử dụng nội thất thông minh và tận dụng không gian để lưu trữ đồ đạcVới một không
                    gian...
                </p>
                <p class="py-5 text-sm"><a href="duong_dan_den_trang_chi_tiet"
                        class="text-black-500 text-center underline">Xem
                        thêm</a>
                </p>
            </div>


        </div>

        <div class="text-center mb-7 mt-9">
            <h2 class="text-lg text-blue-500 font-medium">HÃY LIÊN HỆ VỚI CHÚNG TÔI!</h2>
            <h3 class="text-xs text-gray-500">Luôn sẵn sáng hỗ trợ và tư vấn cho bạn để có sản phẩm tốt nhất.</h3>
        </div>

        <div class="max-w-screen-sm mx-auto mb-10">
            <input type="email" placeholder="Nhập địa chỉ Gmail" class=" border border-r-0 w-2/3 p-2 ml-10 mr-7" />
            <button class="bg-blue-500 text-white w-1/6 p-2">Gửi</button>
        </div>
    </div>
</template>

<script>
definePageMeta({ layout: 'default' });
import 'swiper/swiper-bundle.css'; // Nhớ nhập CSS của Swiper
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
export default {
    components: {
        Swiper,
        SwiperSlide,
    },
    setup() {
        const onSwiper = (swiper) => {
            console.log(swiper);
        };
        const onSlideChange = () => {
            console.log('slide change');
        };
        return {
            onSwiper,
            onSlideChange,
        };
    },
    data() {
        return {
            swiperOptions: {
                // Tùy chọn của Swiper
                slidesPerView: 3, // Số lượng slide hiển thị cùng lúc
                loop: true, // Cho phép cuộn vô hạn
                spaceBetween: 30, // Khoảng cách giữa các slide
                // Ví dụ: loop: true, pagination: { el: '.swiper-pagination' }
            },
        };
    },
};
</script>

<style scoped>
* {
    box-sizing: border-box;
}

.bg-transparent {
    background-color: #ced3d3;
    /* Màu trắng trong suốt */
}
</style>
