<template>
    <!-- Thêm Font Awesome CDN tại đây -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <div>
        <div class="max-w-screen-xl mx-auto py-2">
            <div class="text-xs ">Trang chủ / Danh mục / Sản phẩm khuyến mãi</div>
        </div>
    </div>
    <div class="container mx-auto">

        <img src="https://file.hstatic.net/1000409762/collection/collection3_7103057914544e8eb2f4afb89c8a04cc.jpg"
            alt="Hình ảnh 1" />
    </div>
    <div class="container max-w-screen-lg mx-auto flex items-center justify-between">
        <div class="flex items-center text-sm">
            <p>
                <i class="fa-solid fa-filter"></i>
                Bộ lọc
            </p>
        </div>
        <div class="flex items-center mb-7 mt-9">
            <h2 class="text-lg text-blue-500 font-medium">Sản phẩm khuyến mãi</h2>
        </div>

        <select class="border rounded-md py-2 px-3 text-sm">
            <option value="option1">Lựa chọn 1</option>
            <option value="option2">Lựa chọn 2</option>
            <!-- Thêm các lựa chọn khác tại đây -->
        </select>
    </div>

    <div class="max-w-screen-lg mx-auto mb-4">
        <!-- Dòng 1 -->
        <div class="flex flex-wrap -mx-0 mb-0 ">
            <!-- Sản phẩm 1 -->
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden relative">
                    <div>
                        <div class="bg-red-500 text-white text-xs font-small absolute top-2 left-2 py-0 px-1"
                            style="font-size: 10px;">
                            -12%
                        </div>
                        <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                            alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    </div>

                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>

                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Sản phẩm 2, 3, 4, và 5 -->
            <!-- Tương tự như sản phẩm 1 -->
        </div>
        <!-- Dòng 2 -->
        <div class="flex flex-wrap -mx-0 mb-0 ">
            <!-- Sản phẩm 1 -->
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dòng 3 -->
        <div class="flex flex-wrap -mx-0 mb-0 ">
            <!-- Sản phẩm 1 -->
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/5 px-0 mb-0 border">
                <div class="bg-white shadow-md rounded-none overflow-hidden">
                    <img src="//product.hstatic.net/1000409762/product/sp12-1_5316e032a8b0403b8fe26c4cd6bef167_large.jpg"
                        alt="Sản phẩm 1" class="w-full h-48 object-cover py-2 px-2" />
                    <div class="p-4">
                        <p class="text-sm font-semibold">Ấm trà inox không ghỉ</p>
                        <span class="text-red-500 text-xs font-medium">890,000₫</span> &nbsp;
                        <span class="text-gray-600 text-xs">
                            <span class="line-through">1,250,000₫</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mb-7 mt-12">
        <h2 class="text-lg text-blue-500 font-medium">HÃY LIÊN HỆ VỚI CHÚNG TÔI!</h2>
        <h3 class="text-xs text-gray-500">Luôn sẵn sáng hỗ trợ và tư vấn cho bạn để có sản phẩm tốt nhất.</h3>
    </div>

    <div class="max-w-screen-sm mx-auto mb-10">
        <input type="email" placeholder="Nhập địa chỉ Gmail" class=" border border-r-0 w-2/3 p-2 ml-10 mr-7" />
        <button class="bg-blue-500 text-white w-1/6 p-2">Gửi</button>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped></style>