<template>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <div>
        <div class="max-w-screen-xl mx-auto py-2">
            <div class="text-xs ">Trang chủ / Danh mục / Sản phẩm khuyến mãi</div>
        </div>
    </div>
    <div class="flex container max-w-screen-xl mx-auto mt-4 ">
        <div class="flex flex-wrap -mx-0 mb-0 pr-4 w-3/5">
            <div class="w-1/2 px-0 mb-0">
                <div class="bg-white  rounded-none overflow-hidden p-2">
                    <img src="//product.hstatic.net/1000409762/product/sp1-1_8b56d5f805744ca98b24545ae72d3cb4_master.jpg"
                        alt="Sản phẩm 1" class="w-full h-auto " />
                </div>
            </div>
            <div class="w-1/2 px-0 mb-0">
                <div class="bg-white rounded-none overflow-hidden p-2">
                    <img src="//product.hstatic.net/1000409762/product/sp1-1_8b56d5f805744ca98b24545ae72d3cb4_master.jpg"
                        alt="Sản phẩm 1" class="w-full h-auto " />
                </div>
            </div>
            <div class="w-1/2 px-0 mb-0">
                <div class="bg-white rounded-none overflow-hidden p-2">
                    <img src="//product.hstatic.net/1000409762/product/sp1-1_8b56d5f805744ca98b24545ae72d3cb4_master.jpg"
                        alt="Sản phẩm 1" class="w-full h-auto " />
                </div>
            </div>
            <div class="w-1/2 px-0 mb-0">
                <div class="bg-white rounded-none overflow-hidden p-2">
                    <img src="//product.hstatic.net/1000409762/product/sp1-1_8b56d5f805744ca98b24545ae72d3cb4_master.jpg"
                        alt="Sản phẩm 1" class="w-full h-auto " />
                </div>
            </div>
        </div>

        <!-- Bên trái: Thông tin sản phẩm -->
        <div class="w-2/5 border m-2">
            <!-- Tên sản phẩm -->
            <h1 class="text-xl font-semibold text-blue-500 p-4">Ghế phòng khách Arctander</h1>
            <hr class="m-2">
            <!-- Chi tiết sản phẩm -->
            <div class="flex items-center m-2">
                <div class="bg-gray-200 text-red-500 text-xs text-center py-0 px-1 w-10 h-5 p-2">
                    <span class="font-semibold ml-1">-12%</span>
                </div>
                <span class="text-red-500 ml-4">799,000₫</span>
                <span class="text-gray-600 line-through ml-4">999,000₫</span>
            </div>

            <div>
                <span class=""></span>
            </div>
            <!-- Nút tăng giảm số lượng sản phẩm -->
            <div class="quantity-area flex items-center ">
                <div class="border m-2">
                    <button @click="decreaseQuantity" class="qty-btn btn-left-quantity p-2">-</button>
                    <input type="text" id="quantity" name="quantity" v-model="productQuantity" min="1"
                        class="quantity-selector w-12 text-center p-2">
                    <button @click="increaseQuantity" class="qty-btn btn-right-quantity p-2">+</button>
                </div>
                <button class="bg-blue-500 text-white py-2 px-12 w-2/3 rounded-none ml-4">Thêm vào giỏ hàng</button>
            </div>

            <div class="container mx-auto mt-6">
                <div class="flex">
                    <div v-for="tab in tabs" :key="tab.id" @click="changeTab(tab.id)"
                        class="w-1/3 p-2 cursor-pointer text-center" :class="{ 'active-tab': activeTab === tab.id }">
                        {{ tab.label }}
                    </div>
                </div>
                <div class="mt-4">
                    <div v-if="activeTab === 1" class="tab-content">
                        Mô tả sản phẩm...
                    </div>
                    <div v-if="activeTab === 2" class="hidden tab-content">
                        Điều khoản dịch vụ...
                    </div>
                    <div v-if="activeTab === 3" class="hidden tab-content">
                        Chính sách đổi trả...
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Tabs -->


    <!-- Nút Like và Share -->
    <div class="container mx-auto mt-6">
        <div class="flex items-center">
            <button class="bg-blue-500 text-white py-2 px-4 rounded-lg mr-2">
                <i class="fas fa-thumbs-up"></i> Like
            </button>
            <button class="bg-blue-500 text-white py-2 px-4 rounded-lg">
                <i class="fas fa-share"></i> Share
            </button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            productQuantity: 1,
            activeTab: 1,
            tabs: [
                { id: 1, label: "Mô tả" },
                { id: 2, label: "Điều khoản dịch vụ" },
                { id: 3, label: "Chính sách đổi trả" },
            ],
        };
    },
    methods: {
        decreaseQuantity() {
            if (this.productQuantity > 1) {
                this.productQuantity--;
            }
        },
        increaseQuantity() {
            this.productQuantity++;
        },
        changeTab(tabId) {
            this.activeTab = tabId;
        },
    }
}
</script>

<style scoped>
.active-tab {
    border-bottom: 2px solid #3498db;
    /* Màu xanh dương cho dấu gạch chân */
    background: none;
    /* Bỏ màu nền */
    cursor: pointer;
}
</style>